.a {font:9pt/135% "±¼¸²";color:#000000}
TR.H	{ background-color: #FFE6E6}
TR.H2	{ background-color: #CCFFCC}


td, tr {font-family: "µ¸¿ò"; font-size: 12px;color:9F9F9F;padding-top:2;  }

A:link {
	COLOR: #7F7F7F; TEXT-DECORATION: none
}
A:visited {
	COLOR: #7F7F7F; TEXT-DECORATION: none
}
A:active {
	COLOR: #7F7F7F; TEXT-DECORATION: none
}
A:hover {
	COLOR: #7F7F7F; TEXT-DECORATION: none
}

/* add by angpz */
/*  for design  */

/* tahoma by pixel */
.tah9px {font-family:Tahoma,Verdana,Arial;font-size:9px}
.tah10px {font-family:Tahoma,Verdana,Arial;font-size:10px}
.tah11px {font-family:Tahoma,Verdana,Arial;font-size:11px}

/* verdana by pixel */
.ver8px {font-family:Verdana;font-size:8px}
.ver9px {font-family:Verdana;font-size:9px}
.ver10px {font-family:Verdana;font-size:10px}
.ver10px1 {font-family:Verdana;font-size:10px}
.ver11px {font-family:Verdana;font-size:11px}

/* etc & color*/
.tstart {padding-left:15;}
.notice_more {font:bold 10px "Verdana"}
.bbsstext {font-family:µ¸¿ò;font-size:11px}
.bbstext {font-size:12px}
.red {color:#990000}
.violet {color:652A8C}
.orange {color:#F4934B}
.black {color:#555555}
.white {color:#FFFFFF}
.brown {color:#5A5123}
.gray1 { color:#CCCCCC}
.gray2 { color:#999999}
.gray3 { color:#666666}

.pagelist {font-family:Verdana;font-size:11px}
.textbox {padding-left:30;padding-top:20;padding-right:20;padding-bottom:20;}
.textboxw {padding-left:40;padding-top:5;padding-right:8;padding-bottom:10;}
.iconbox {padding-right:25;}
.iconboxw {padding-right:10;}


.underline {text-decoration:underline}
.bold {font-weight:bold}
.t0  {line-height:70%}
.t  {line-height:120%}
.t2 {line-height:170%}
.t3 {line-height:200%}
.just {text-align:justify}

.spacing {letter-spacing:-1px}

.g8 {font-size:8pt;font-family:±¼¸²,Gulim}
.d8 {font-size:8pt}
.d9 {font-size:9pt}
.d10 {font-size:10pt}
.d11 {font-size:11pt}
.d12 {font-size:12pt}
.d8b {font-size:9pt;font-weight:bold}
.d9b {font-size:9pt;font-weight:bold}
.d10b {font-size:10pt;font-weight:bold}
.d10b {font-size:11pt;font-weight:bold}
.d12b {font-size:12pt;font-weight:bold}




/* input */
.input_kor {border:1px solid #D5D5D5;background-color:F8F8F8}
.input_kor_on {border:1px solid #C6C7A5;background-color:FFFFEF;width:100%;height:18px}
.input_eng {font:10px "Verdana";border:1px solid #cdcdcd;background-color:f7f5f7;width:100%}
.input_eng_on {font:10px "Verdana";border:1px solid #C6C7A5;background-color:FFFFEF;width:100%}

.input_ta {border:1px solid #cdcdcd;background-color:f7f5f7;width:100%}
.input_ta_on {border:1px solid #C6C7A5;background-color:FFFFEF;width:100%}

.input_submit_eng {background-color:#4C67B4;border:solid 1px #3D58A7;color:white;font-family:Verdana,Tahoma;font-size:10px;font-weight:bold}
.input_reset_eng {background-color:#687FC2;border:solid 1px #7B90CB;border-right:1px solid #5C78C8;border-bottom:1px solid #5C78C8;color:white;font-family:Verdana,Tahoma;font-size:10px;font-weight:bold}
.input_warning_eng {background-color:#DC1E1E;border:solid 1px #CB1717;color:white;font-family:Verdana,Tahoma;font-size:10px;font-weight:bold}
.input_preview_eng {background-color:#687FC2;border:solid 1px #3356BB;color:white;font-family:Verdana,Tahoma;font-size:10px;font-weight:bold}

.input_select_kor {background-color:#FFFFC0;color:#136513}
.input_select_eng {color:#136513;font:10px "Verdana";background-color:#FFFFC0}
.leftmainbg {
	background-image: url(images/main/mainbg_lefttop.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

.wbutton {
	font-family: "Verdana", "µ¸¿ò";
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	color: #000000;
	height: 20px;
}

.wtd {
	font-family: "µ¸¿ò";
	font-size: 12px;
	color: #FFFFFF;
}

/* image choice */
.img_choice {border:3px solid #F7AD3A;background-color:F8F8F8;padding-bottom:2;}

.admin {font-family: "µ¸¿ò"; font-size: 12px;color:#000000;padding-top:2;  }

.admin-menu {font-family: "µ¸¿ò"; font-size: 12px;color:#FFFFFF;padding-top:2;}

.mselectbox {
	font-family: "Verdana", "µ¸¿ò";
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	color: #FF0000;
	height: 20px;
	font-weight:bold;
}